{% extends 'templates/app.twig' %}
{% block title %}404 - page not found{% endblock %}
{% block content %}

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-lg-12">
                    <div class="centering text-center">
                        <div class="text-center">
                            <h2 class="without-margin">Don't worry. It's <big>404</big> error only.</h2>
                            <h4>(Page not found)</h4>
                        </div>
						<a href="{{ base_url() }}">Go back home</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}